
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
font-family: "Arvo", sans-serif;
color:#D3212B;
background-color: #DBD8B2;
max-width: 1100px;
margin: auto;
overflow: auto;
padding: 0 2rem;
}

body {
  font-family: "PT Serif", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  background: #f9f9f9;
  align-items: center;
}




.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
  background-color: #DBD8B2;
}

.main-header {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.main-header h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.main-header h1 span {
  color:#D3212B;
}

.main-header p {
  font-size: 5rem;
}

img {
  width: 100%;
}


.btn {
  display: inline-block;
  background: black;
  color: white;
  padding: .8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}


nav {
  height: 50px;
  background: white;
  width: 1100px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  margin: 0;
  padding: 0 20;
 

}

nav a {
  font-family:"PT Serif", sans-serif;
  display: block;
  text-decoration: none;
  color:black;
  padding: 0 20px;
  line-height: 50px;
  text-transform: lowercase;
}

nav a:hover {
  background:#CFB589;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
