
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
font-family: "Arvo", sans-serif;
color:#D3212B;
background-image: url(../images/band2.jpg) ;
background-color:#DBD8B2;
background-size: cover;
background-position: center;
max-width: 100%;
margin: auto;
position: relative;
text-align: center;
}

.header-content{
  position: absolute; 
}

body {
  font-family: "PT Serif", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  background:#CFB589;
  align-items: center;
}

.card{
background-image: url(..//images/vinbottom.png);
background-size: cover;
background-position: center;
height: 65vh;
width: 130vh;
padding-bottom: 10%;
display: block;
margin: 0 auto;
}

.card-1{
text-align: center;
width: 130vh;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 5%;
padding-bottom: 5%;
}

.card-2{
  width: 130vh;
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom: 5%;
}

.card-3{
  width: 130vh;
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom: 5%;
}

.card-4{
  width: 130vh;
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom: 5%;
}

.card-5{
  width: 130vh;
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom: 5%;
}

.card-6{
  text-align: center;
  width: 130vh;
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom: 5%;
}

.card-7{
  text-align: center;
  width: 130vh;
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom: 6%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  background-color:#DBD8B2;
}

.main-header {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

.main-header h1 {
  font-size: 5rem;
  padding: .5em;
  line-height: 1.2;
  background-color: #DBD8B2;
}

.main-header h1 span {
  color:#D3212B;
}

.main-header p {
  font-size: 5rem;
}

h3 {
  text-align: center;
  font-weight: bold;
}

img {
  width: 100%;
}

nav {
  height: 50px;
  background: white;
  width: 1100px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  margin: 0;
  padding: 0 20;
}

nav a {
  font-family:"PT Serif", sans-serif;
  display: block;
  text-decoration: none;
  color:black;
  padding: 0 20px;
  line-height: 50px;
  text-transform: lowercase;
}

nav a:hover {
  background:#CFB589;
}

footer {
  width: 100%;
  text-align: center;
  text-decoration: none;
}
