
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');


* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

header{
font-family: "Arvo", sans-serif;
color:#D3212B;
background-image: url(../images/band2.jpg) ;
background-color:#DBD8B2;
background-size: cover;
background-position: center;
max-width: 100%;
margin: auto;
position: relative;
text-align: center;
}

.header-content{
 position: absolute;
}

body {
font-family: "PT Serif", sans-serif;
font-weight: 400;
font-size: 1.3rem;
background:#CFB589;
align-items: center;
}

.card{
background-image: url(..//images/vinbottom.png);
background-size: cover;
background-position: center;
height: 65vh;
width: 130vh;
padding-bottom: 10%;
display: block;
margin: 0 auto;
}

section {
text-align: center;
margin: 0 auto;
 /*
 margin-left: auto;
 margin-right: auto;
 */
 padding: 5%;
 /*
 padding-top: 5%;
 padding-bottom: 5%;
 */
}

.paragraph {
width: 50%;
padding: 20px;
}

.flex-container {
display: flex;
justify-content: flex-end;
text-align: left;
justify-content: center;
}

.flex-container a{
  padding: 0 50px;
  font-size: 2rem;
}

.flex-container-cultural{
flex-direction: column;
align-items: center;
padding: 20px;
}

.flex-container-cultural img{
  width: 100%;
}

.image {
width: 50%;
}

.image .guitar {
height: 580px;
padding-left: 30%;
}


.card-1{
text-align: center;
width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 5%;
padding-bottom: 5%;
}

.card-6, .card-7, .card-5, .card-4, .card-3, .card-1{
width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom: 5%;
}



.card-2{
text-align: center;
width: 100%;
height: 65vh;
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom:55%;
padding-left: 10%;
}

.card-8{
background-image: url(..//images/vintop.png);
background-size: cover;
background-position: center;
height: 65vh;
width: 130vh;
padding-bottom: 10%;
display: block;
margin: 0 auto;
}

.container {
max-width: 1100px;
margin: auto;
overflow: auto;
background-color:#DBD8B2;
}

.main-header {
height: 75vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
padding: 0;
}

.main-header h1 {
font-size: 5rem;
padding: .5em;
line-height: 1.2;
background-color: #DBD8B2;
color:#D3212B;
}

h3 {
text-align: center;
font-weight: bold;
padding: 5px;
border-radius: 25px;
border: 3px solid #D3212B;
width: 200px;
height: 50px;
display: inline-block;
}

nav {
height: 50px;
background: white;
width: 1100px;
}

nav ul {
display: flex;
justify-content: center;
}

nav li {
list-style: none;
margin: 0;
padding: 0 20;
}

a{
  color: white;
  text-decoration: none;
  
}



nav a {
font-family:"PT Serif", sans-serif;
display: block;
text-decoration: none;
color:black;
padding: 0 20px;
line-height: 50px;
text-transform: lowercase;
}

nav a:hover {
background:#CFB589;
}

footer {
width: 100%;
text-align: center;
color: white;
text-decoration: none;
background-image: url(..//images/wp3422858.jpg);
height: 65vh;
padding-top: 5%;
}

h2{
  padding-bottom: 2%;
  font-size: 3rem;
}
html {
  box-sizing: border-box;
}

*:before,
*:after {
box-sizing: border-box;
}


img {
max-width: 100%;
padding: 1rem;
}

.carousel-cell {
width: 25%;
}

@media (max-width: 600px) {
.carousel-cell {
width: 50%;
 }
}

